[Unit]
Description=Benny's Server
After=network-online.target
Wants=network-online.target

# restart-storm limiter:
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
User=james
WorkingDirectory=/home/james/benny-care-system/src
EnvironmentFile=/home/james/benny-care-system/.env

ExecStart=/home/james/benny-care-system/.venv/bin/python -m bennycaresystem.app.latest.py

# restart policy:
Restart=on-failure
RestartSec=5

# Logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
